{% extends 'tasks/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
            <fieldset>
                <legend> Add task
                    {% if object.task_for_today %}
                        <a class='btn btn-secondary float-right' href="{% url 'today-tasks' %}">
                            <<-Go back
                        </a>
                    {% else %}
                        <a class='btn btn-secondary float-right' href="{% url 'week-tasks' %}">
                            <<<--Go back
                        </a>
                    {% endif %}
                </legend>
                {{ form|crispy}}
                <button class='btn btn-info float-right' type='submit'> Add/update </button>
            </fieldset>
        </form>
    </div>
{% endblock content %}

